body 
{
    background-color:blueviolet;
    
}
p{
    text-decoration-color:goldenrod;
}
b
{
    text-align: center;
    text-decoration-color: greenyellow;
    text-size-adjust: bold;
    
}
